#header {
	background-color: red; 
}

#green-accent {
	background-color: #55b780;
	width: 100%;
	height: 5px;
	top: 0;
	position: fized;
}

div.jumbotron {
	background: white url("images/landing_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
}

h1.dark_background {
	color: white;
}

p.dark_background {
	color: white;
}