h2 {
	margin-top: 0px;
}

input	{
	display: inline;
	margin:; 0px 10px 0px;
}

img.logo {
	display: inline;
	width: 20%;
	float: left;
}

#header {
	background: white url("images/background_darkened.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

div.jumbotron {
	background: none;
}

div.signup {
	height: 400px;
	background-color: #ccc;
}


#green-accent {
	background-color: #55b780;
	width: 100%;
	height: 5px;
	top: 0;
}

.row {
	margin-bottom: 0px;
}

.submit {
	margin-top: 25px;
	width: 100%;
}

.btn {
	background-color: #55b780;
	border: none;
	color: white;
}


.dark_background {
	color: white;
}

p.jumbo-button {
	margin-right: 1%;
}

.form-group.title {
	margin-top: 25px;
	font-size: 18;

}

.btn.jumbo {
	margin-top: 1.5%;

}

.jumbo-copy {
	margin-top: 0px;
}




