
#green-accent {
	background-color: #55b780;
	width: 100%;
	height: 5px;
	top: 0;
	position: fized;
}

input	{
	display: inline;
	margin: 10px 0px 10px 0px;
}

div.jumbotron {
	background: white url("images/background_darkened.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
}

div.signup {
	height: 400px;
	background-color: #ccc;
}

p.signup {
	margin: 0;
	font-size: 18px;
}

.btn {
	background-color: #55b780;
	border: none;
	color: white;
}

.dark_background {
	color: white;
}

.btn.jumbo {
	
}



