{% extends "leasingPortal/base.html" %}

{% block content %}
	<a href="{% url 'leasingPortal:buildings' %}">Back to Buildings Page</a>

	<h1>Add Suite</h1>

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


  <form action="{% url 'leasingPortal:post_add_suite' building_id %}" method="post">
    {% csrf_token %}

    <p>Suite Number:</p>
    <input type="text" name="number" id="suite_number"/>

    <br><p style="display:">Date Available:</p>

    <input type="date" name="available" class="datepicker" style="display:" min="2016-08-05" max="2017-01-01">

    <br> <input type="submit" value="Add Suite"/>
  </form>

{% endblock %}