<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TenantBase Landlord Portal</title>
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="{% static 'leasingPortal/style.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

  <script>
  //TODO: make date input read only 
  //i.e. users can only change date using the 
  //calendar
  $(document).ready(function() {
    $(".datepicker").datepicker();
  });
  </script>
</head>
<body>
  <header id="header" class="">
    <p>header here</p>
    <br>
  </header>

  {% block content %}
    hey you don't want to see this shit
  {% endblock %}

  <footer>
    <br>
    <p>footer hither</p>
  </footer>
  
</body>
</html>