{% extends "leasingPortal/base.html" %}

{% block content %}
  <h1>Buildings</h1>
  <br>
  

  {% if buildings_and_suites %}
  <ul>
  	{% for building, suites in buildings_and_suites %}
      <li><p>{{ building }}</p> <a href="{% url 'leasingPortal:building_edit' building.id %}" title="">Edit</a></li>

      <ul>
        {% for suite in suites %}
          <li>{{suite}} <a href="" title="">Edit</a></li>

        {% endfor %}
      </ul>

        <a href="{% url 'leasingPortal:add_suite' building.id %}" title="">Add Suite</a>

  	{% endfor %}
  </ul>
  {% else %}
	<p>you haven't uploaded a building yet!</p>
	{% endif %}
{% endblock %}


