{% extends "leasingPortal/base.html" %}

{% block content %}
  <h1>Building Details</h1>
  <br>

  <p>Address: {{ building.address }}</p>
  <a href="{% url 'leasingPortal:building_edit' building.id %}" title="">Edit</a>

  <p>Suites:</p>
  <ul>
    {% for suite in suite_list %}
  	<li><p>Suite #{{ suite.number }}</p></li>
  	{% endfor %}
  </ul>

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <br><p>Add Suite</p>
  <form action="{% url 'leasingPortal:add_suite' building.id %}" method="post">
  {% csrf_token %}

    <p>Suite Number:</p>
    <input type="text" name="number" id="suite_number"/>

    <br><p style="display:">Date Available:</p>

    <input type="date" name="available" id="suite_available_date" style="display:" min="2016-08-05" max="2017-01-01">

    <input type="text" name="parent_building" value="{{building.id}}" 
     style="display:none"/>
     
    <br> <input type="submit" value="Suite"/>
  </form>

{% endblock %}
