{% extends "leasingPortal/base.html" %}

{% block content %}
  <a href="{% url 'leasingPortal:index' %}">Home</a>

  <h1>Buildings</h1>
  <br>
  

  {% if buildings_and_suites %}
  <ul>
  	{% for building, suites in buildings_and_suites %}
      <li>Address: {{ building }} 
      <a href="{% url 'leasingPortal:building_edit' building.id %}" title="">Edit</a>
      <a href="{% url 'leasingPortal:delete_building' building.id %}" title="">Delete</a>
      </li>

      {% if suites %}
        <br>  <ul>
          {% for suite in suites %}
            <li>{{suite}} <a href="{% url 'leasingPortal:edit_suite' building.id suite.id %}" title="">Edit</a></li>

          {% endfor %}
        </ul>

      {% else %}
        <p>you haven't uploaded a suite yet!</p>
      {% endif %}

      <br>  <a href="{% url 'leasingPortal:add_suite' building.id %}" title="" style="padding-left:20px">Add Suite</a>
      <br><br><br>

  	{% endfor %}
  </ul>
  {% else %}
	<p>you haven't uploaded a building yet!</p>
	{% endif %}
  <a href="{% url 'leasingPortal:add_building' %}" title="">Add Building</a>
{% endblock %}


