{% extends "leasingPortal/base.html" %}

{% block content %}
  <h1>Buildings</h1>
  <br>
  

  {% if buildings_and_suites %}
  <ul>
  	{% for building, suites in buildings_and_suites %}
      <li><a href="{% url 'leasingPortal:building_detail' building.id %}">{{building.address}}</a></li>

      <ul>
        {% for suite in suites %}
          <li>{{suite}}</li>

        {% endfor %}
      </ul>

  	{% endfor %}
  </ul>
  {% else %}
	<p>you haven't uploaded a building yet!</p>
	{% endif %}
{% endblock %}


