{% extends "leasingPortal/base.html" %}

{% block content %}

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  
  <script>
  $(document).ready(function() {
    $(".datepicker").datepicker();
  });
  </script>
  <h1>Building Details</h1>
  <br>

  <p>Address: {{ building.address }}</p>
  <a href="{% url 'leasingPortal:building_edit' building.id %}" title="">Edit</a>

  <p>Suites:</p>
  <ul>
    {% for suite in suite_list %}
  	<li><p>Suite #{{ suite.number }}</p></li>
  	{% endfor %}
  </ul>
  <br>

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <p>Add Suite</p>
  <form action="{% url 'leasingPortal:add_suite' building.id %}" method="post">
  {% csrf_token %}

    <p>Suite Number:</p>
    <input type="text" name="number" id="suite_number"/>

    <br><p style="display:">Date Available:</p>

    <input type="date" name="available" class="datepicker" style="display:" min="2016-08-05" max="2017-01-01">

    <input type="text" name="parent_building" value="{{building.id}}" 
     style="display:none"/>
     
    <br> <input type="submit" value="Suite"/>
  </form>

{% endblock %}
