
<!DOCTYPE html>
<html lang="en"><head>
		{% load staticfiles %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

	  <!-- Bootstrap -->
	  <link href="{% static 'leasingPortal/bootstrap.min.css' %}" rel="stylesheet">
	  <!-- My custom CSS -->
	  <link rel="stylesheet" type="text/css" href="{% static 'leasingPortal/style.css' %}">


  </head>
  <body>
    <div id = "green-accent"></div>

    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="jumbotron">
 			<div class="container">
 				<div class="row">
					<p><a class="btn jumbo btn-primary btn-lg col-md-offset-8" id="manageProperties" href="{% url 'leasingPortal:buildings' %}" role="button">Manage Properties</a></p>  
 				</div>
    		  		

 				<div class="row">
 					<div class="container signup col-md-6">	
	      		<form>
	      			<div class="form-group title col-xs-12 col-md-12">
 								<p id="signup-title">We have the space.  You have the tenants.</p>
 							</div>

	      			<div class="form-group col-xs-6 col-md-6">
	      				<label for="inputFirstName">First Name</label>
	      				<input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
	      			</div>
	      			<div class="form-group col-xs-6 col-md-6">
	      				<label for="inputLastName">Last Name</label>
	      				<input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
	      			</div>

	      			<div class="form-group col-xs-6 col-md-6">
	      				<label for="inputEmail">Email</label>
	      				<input type="text" class="form-control" id="inputEmail" placeholder="Email">
	      			</div>
	      			<div class="form-group col-xs-6 col-md-6">
	      				<label for="inputCompany">Company</label>
	      				<input type="text" class="form-control" id="inputCompany" placeholder="company">
	      			</div>

	      			<div class="form-group col-xs-6 col-md-6">
	      				<label for="inputPassword">Password</label>
	      				<input type="text" class="form-control" id="inputPassword" placeholder="Password">
	      			</div>
	      			<div class="form-group col-xs-6 col-md-6">
	      				<label for="inputPasswordAgain">Password (again)</label>
	      				<input type="text" class="form-control" id="inputPasswordAgain" placeholder="Password (again)">
	      			</div>

	      			<div class="form-group col-xs-6 col-md-6">
	      				<label for="inputPhone">Phone</label>
	      				<input type="text" class="form-control" id="inputPhone" placeholder="Phone">
	      			</div>
	      			<div class="form-group col-xs-6 col-md-6">
	      				<p><a class="btn btn-primary submit" href= role="button">Lease My Space!</a></p>
	      			</div>      			
	      		</form>
      		</div>
  				
  				<div class="container col-mod-6 jumbo-copy">
		        <h2 class = "dark_background jumbo col-md-offset-8">Fill your space with the click of a button.</h2>
		        <p class = "dark_background jumbo col-md-offset-8">The TenantBase landlord rep portal empowers landlord rep brokers to market buildings + suites directly to our clients actively searching for available space under 5,000 sqare feet.</p>
	        </div>
 				</div>
      	
      
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="{% static 'leasingPortal/bootstrap.min.js' %}"></script> 
  
</body></html>
