body {
	min-width: 1000px;
	width: auto !important;
	width: 1000px;
}

h2 {
	margin-top: 0px;
}

input	{
	display: inline;
	margin:; 0px 10px 0px;
}

img.logo {
	display: inline;
	margin-top: 0px;
	width: 20%;
	min-width: 300px;
	float: left;
}

#header {
	background: white url("images/background_darkened.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

div.jumbotron {
	background: none;

}

div.jumbo-content {
	min-width: 1000px;
	width: auto !important;
	width: 1000px
}

div.signup {
	height: 400px;
	background-color: #ccc;
	border-radius: 10px;
}


#top-accent {
	background-color: #55b780;
	width: 100%;
	height: 5px;
	top: 0;
}

#signup-title {
	margin-top: 20px;
	font-size: 20px;
}

.row {
	margin-bottom: 0px;
}

.submit {
	margin-top: 25px;
	width: 100%;
}

.btn {
	background-color: #55b780;
	border: none;
	color: white;
}

.light-text {
	margin-top: 0px;
	color: white;
}

p.jumbo-button {
	margin-right: 1%;
}

.btn.jumbo {
	margin-top: 1.5%;
}
